<!-- Add the app header section -->
<app-header></app-header>

<!-- Projects Content -->
<div class="container-fluid p-3">

    <div class="row m-2 box">

        <!-- Left project section -->
        <div class="col-lg-8">

            <!-- Left Title -->
            <div class="row py-2 title text-white pl-5">
                <b>WORKING PROJECT</b>
            </div>

            <div class="row p-2">
                <app-project-item class="container brd"></app-project-item>
            </div>
        </div>
    
        <!-- Right project section -->
        <div class="col-lg-4">

            <!-- Right Title -->
            <div class="row py-2 title text-white pl-5">
                <b>OTHER PROJECTS</b>
            </div>

            <div class="row py-2 pr-2">
                <app-project-item-min class="container m-1 brd"></app-project-item-min>
                <app-project-item-min class="container m-1 brd"></app-project-item-min>
                <app-project-item-min class="container m-1 brd"></app-project-item-min>
            </div>
        </div>
    </div>
    
</div>

<!-- Add the app footer section -->
<app-footer></app-footer>