<div class="container mt-5 pt-5">
  <div class="row">

    <!-- Left side selector column -->
    <div class="col-lg-2 offset-lg-2">
      <div class="mt-5">
        <!-- left nav image -->
        <img alt="Image" class="img-nav" src="../../../../../assets/icons/left_nav.png">
      </div>
    </div>

    <!-- Middle column -->
    <div class="col-lg-4 page">

      <div class="row mt-4">
        <div class="user-img mx-auto my-4">
          <!-- image or icon -->
        </div>
      </div>

      <div class="row description mx-auto text-center text-secondary p-2">
        <p>This is some sample text. Here should be some brief description about the selected user type</p>
      </div>

    </div>

    <!-- Right side selector column -->
    <div class="col-lg-2">
      <div class="mt-5">
        <!-- left nav image -->
        <img alt="Image" class="img-nav" src="../../../../../assets/icons/right_nav.png">
      </div>
    </div>
  </div>

  <!-- To signup button row -->
  <div class="row">
    <div class="col-lg-4 mx-auto mt-3 p-0">
      <button type="button" class="btn btn-outline-success text-center btn-block btn-lg">
        To SignUp
      </button>
    </div>
  </div>
</div>